<a href="https://colab.research.google.com/github/ShireenKachroo/Open-Source-Lab/blob/main/23103078_W2(b).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 2(a)

In [1]:
# Q1.
friends = ['Dhruvi', 'Anshika', 'Ritika', 'Saina', 'Palak', 'ABC', 'DEF']
print("a.", friends[0])
print("b.", friends[-1])
print("c.", friends[3:6])
print("d.", friends[::-1])
print("e.", friends[8:2:-1])

a. Dhruvi
b. DEF
c. ['Saina', 'Palak', 'ABC']
d. ['DEF', 'ABC', 'Palak', 'Saina', 'Ritika', 'Anshika', 'Dhruvi']
e. ['DEF', 'ABC', 'Palak', 'Saina']

In [2]:
# Q2
students = ('Raj', 'Simran', 'Aman', 'Preeti', 'Rahul')

print("a.", students)

students_list = list(students)
students_list.append('Sanya')
students = tuple(students_list)
print("b.", students)

students_list.remove('Aman')
students = tuple(students_list)
print("c.", students)

print("d.", students[1:4])

try:
    students[2] = 'Kabir'
except TypeError as e:
    print("e. Tuples are immutable. Error:", e)

a. ('Raj', 'Simran', 'Aman', 'Preeti', 'Rahul')
b. ('Raj', 'Simran', 'Aman', 'Preeti', 'Rahul', 'Sanya')
c. ('Raj', 'Simran', 'Preeti', 'Rahul', 'Sanya')
d. ('Simran', 'Preeti', 'Rahul')
e. Tuples are immutable. Error: 'tuple' object does not support item assignment

In [3]:
# Q3
student_ages = {
    'Anu': 21,
    'Ravi': 19,
    'Megha': 22,
    'Tina': 20
}

print("a. Students with age > 20:")
for name, age in student_ages.items():
    if age > 20:
        print(name, age)

student_ages['Pooja'] = 30
print("b.", student_ages)

print("c. All students:", student_ages.items())

del student_ages['Tina']
print("d.", student_ages)

average_age = sum(student_ages.values()) / len(student_ages)
print("e. Average age:", average_age)

a. Students with age > 20:
Anu 21
Megha 22
b. {'Anu': 21, 'Ravi': 19, 'Megha': 22, 'Tina': 20, 'Pooja': 30}
c. All students: dict_items([('Anu', 21), ('Ravi', 19), ('Megha', 22), ('Tina', 20), ('Pooja', 30)])
d. {'Anu': 21, 'Ravi': 19, 'Megha': 22, 'Pooja': 30}
e. Average age: 23.0

In [4]:
# Q4
nums = [10, 21, 32, 43, 54, 65, 76]
print("Even numbers:")
for num in nums:
    if num % 2 == 0:
        print(num)

Even numbers:
10
32
54
76

In [5]:
# Q5
nums = [1, 2, 3, 2, 4, 5, 1, 6, 7, 5]
duplicates = []
for i in nums:
    if nums.count(i) > 1 and i not in duplicates:
        duplicates.append(i)
print("Duplicates:", duplicates)

Duplicates: [1, 2, 5]

In [6]:
# Q6
s = "Jaypee"
print("Reversed:", s[::-1])

Reversed: eepyaJ

In [7]:
# Q7
a, b = 0, 1
print("Fibonacci Series:")
for _ in range(5):
    print(a, end=' ')
    a, b = b, a + b

Fibonacci Series:
0 1 1 2 3

In [8]:
# Q8
with open('file.txt', 'w') as f:
    f.write("Hi, I am currently pursuing my BTech from Jaypee.")

In [10]:
# reverse.py
def reverse_file(filename):
    with open(filename, 'r') as f:
        lines = f.readlines()
    for line in reversed(lines):
        print(line.strip())

reverse_file('file.txt')

Hi, I am currently pursuing my BTech from Jaypee.

In [12]:
#Q10
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]
odd_numbers = [x for x in nums if x % 2 != 0]
print("Odd numbers:", odd_numbers)

Odd numbers: [1, 3, 5, 7, 9]

In [13]:
# Q11
with open('file.txt', 'r') as f:
    content = f.read()
print("Character count:", len(content))

Character count: 49

In [14]:
# Q12
from collections import defaultdict

def find_anagrams(words):
    anagram_dict = defaultdict(list)
    for word in words:
        key = ''.join(sorted(word))
        anagram_dict[key].append(word)
    return [group for group in anagram_dict.values() if len(group) > 1]

words = ['eat', 'ate', 'tea', 'bat', 'tab', 'cat', 'tac']
print("Anagrams found:", find_anagrams(words))

Anagrams found: [['eat', 'ate', 'tea'], ['bat', 'tab'], ['cat', 'tac']]